- hosts: all
  become: yes

  tasks:

    - name: Install Apache
      yum:
        name: httpd
        state: present
      tags:
        - install

    - name: Start Apache
      service:
        name: httpd
        state: started
      tags:
        - start

    - name: Copy index1.html file
      copy:
        src: index1.html
        dest: /var/www/html/index.html
      tags:
        - copy
